.notification-popup {
  background-color: #020202;
  color: white;
  position: absolute;
  height: 70%;
  width: 66%;
  top: 20px;
  left: 10%;
  opacity: 0.9;
  z-index: 100;
  font-size: 24px;
  padding: 20px;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  text-align: center;
}

.notification-popup.hidden {
  display: none;
}

.notification-content {
  margin-top: 5px
}
.alarm-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
